{
  "excludedSimpleMethods": [
    "listBonusPayments"
  ],
  "verifiedSimpleMethods": [
    "listWorkerBlocks",
    "listReviewableHITs",
    "getAccountBalance",
    "listQualificationRequests",
    "listHITs"
  ],
  "enableGenerateCompiledEndpointRules": true,
  "userAgent": "md/internal",
  "defaultRetryMode": "STANDARD"
}