{
  "verifiedSimpleMethods": [
    "deleteElasticsearchServiceRole",
    "describeReservedElasticsearchInstanceOfferings",
    "describeReservedElasticsearchInstances",
    "getCompatibleElasticsearchVersions",
    "listDomainNames",
    "listElasticsearchVersions"
  ],
  "enableGenerateCompiledEndpointRules": true,
  "userAgent": "md/internal",
  "defaultRetryMode": "STANDARD"
}