{
  "excludedSimpleMethods": [
    "listResolverEndpoints",
    "listResolverRuleAssociations",
    "listResolverRules"
  ],
  "verifiedSimpleMethods": [
    "listResolverEndpoints",
    "listResolverRuleAssociations",
    "listResolverRules"
  ],
  "enableGenerateCompiledEndpointRules": true,
  "userAgent": "md/internal",
  "defaultRetryMode": "STANDARD"
}