{
  "verifiedSimpleMethods": [
    "getServiceSettings",
    "listLicenseConfigurations"
  ],
  "excludedSimpleMethods": [
    "getServiceSettings",
    "listLicenseConfigurations",
    "listResourceInventory"
  ],
  "enableGenerateCompiledEndpointRules": true,
  "userAgent": "md/internal",
  "defaultRetryMode": "STANDARD"
}