{
  "verifiedSimpleMethods": [
    "resendContactReachabilityEmail",
    "listDomains",
    "listOperations"
  ],
  "excludedSimpleMethods": [
    "viewBilling",
    "getContactReachabilityStatus"
  ],
  "enableGenerateCompiledEndpointRules": true,
  "userAgent": "md/internal",
  "defaultRetryMode": "STANDARD"
}