{
  "verifiedSimpleMethods": [
    "listDocumentClassificationJobs",
    "listDocumentClassifiers",
    "listDominantLanguageDetectionJobs",
    "listEntitiesDetectionJobs",
    "listEntityRecognizers",
    "listKeyPhrasesDetectionJobs",
    "listSentimentDetectionJobs",
    "listTopicsDetectionJobs"
  ],
  "enableGenerateCompiledEndpointRules": true,
  "userAgent": "md/internal",
  "defaultRetryMode": "STANDARD"
}