{
  "verifiedSimpleMethods": [
    "listActionTypes",
    "listPipelines",
    "listWebhooks"
  ],
  "excludedSimpleMethods": [
    "deregisterWebhookWithThirdParty",
    "registerWebhookWithThirdParty"
  ],
  "enableGenerateCompiledEndpointRules": true,
  "userAgent": "md/internal",
  "defaultRetryMode": "STANDARD"
}