{
  "verifiedSimpleMethods": [
    "getInvitationsCount",
    "listDetectors",
    "listInvitations"
  ],
  "excludedSimpleMethods": [
    "createDetector",
    "declineInvitations",
    "deleteInvitations"
  ],
  "enableGenerateCompiledEndpointRules": true,
  "userAgent": "md/internal",
  "defaultRetryMode": "STANDARD"
}