{
  "verifiedSimpleMethods": [
    "getAccount",
    "getDeliverabilityDashboardOptions"
  ],
  "excludedSimpleMethods": [
    "getDedicatedIps",
    "listConfigurationSets",
    "listDedicatedIpPools",
    "listDeliverabilityTestReports",
    "listEmailIdentities"
  ],
  "enableGenerateCompiledEndpointRules": true,
  "userAgent": "md/internal",
  "defaultRetryMode": "STANDARD"
}