{
  "excludedSimpleMethods": [
    "updateFleet",
    "describeUserStackAssociations"
  ],
  "verifiedSimpleMethods": [
    "describeDirectoryConfigs",
    "describeFleets",
    "describeImageBuilders",
    "describeImages",
    "describeStacks"
  ],
  "enableGenerateCompiledEndpointRules": true,
  "userAgent": "md/internal",
  "defaultRetryMode": "STANDARD"
}